.home-about-us .circular-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: -119px;
    width: 196px;
    border-radius: 50%;
    height: 196px;
    background: #23a569;
    background-blend-mode: normal;
}

.home-about-us .text {
    text-transform: uppercase;
    color: #fff;
    font-family: GothamLight;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.container_home-about {
    display: flex;
    justify-content: space-between;
}

section.home-about-us.container {
    margin-bottom: 119px;
}

.home-about-us .image_right {
    position: relative;
    padding-right: 45px;
}

.home-about-us .container_left {
    max-width: 451px;
}

.container_fusing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.container_fusing .container_right {
    max-width: 625px;
}

.container_fusing .image_left {
    position: relative;
    /* padding-left: 26px; */
}

.container_fusing .image_left::after {
    position: absolute;
    content: "";
    max-width: 416px;
    width: 100%;
    height: 98%;
    left: -26px;
    border-radius: 27px;
    z-index: -1;
    bottom: -28px;
    background: #96b9d1;
}

.content_section_container {
    text-align: center;
}

.home-about-us .image_right img {
    width: 100%;
}

.container_fusing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.container_fusing .image_left img {
    width: 100%;
    border-radius: 27px;
}

@media(max-width:767px) {
    .container_home-about {
        flex-direction: column-reverse;
    }
    .home-about-us .image_right img {
        width: 100%;
    }
    .home-about-us .circular-text {
        width: 113px;
        height: 113px;
    }
    .home-about-us .image_right {
        padding-right: 14px;
    }
    .container_fusing {
        flex-direction: column;
    }
    .container_fusing .image_left::after {
        position: absolute;
        content: "";
        max-width: 246px;
        width: 100%;
        height: 96%;
        left: 0;
        border-radius: 27px;
        z-index: -1;
        bottom: -23px;
        background: #96b9d1;
    }
    .container_fusing .image_left {
        position: relative;
        padding-left: 14px;
        width: 100%;
    }
    .container_fusing .container_right {
        margin-top: 31px;
    }
}